[submodule "circ_blocks"]
	path = circ_blocks
	url = git@github.com:Jiangkm3/circ_blocks.git
[submodule "circ_baseline"]
	path = circ_baseline
	url = git@github.com:Jiangkm3/circ_baseline.git
[submodule "spartan_parallel"]
	path = spartan_parallel
	url = git@github.com:Jiangkm3/spartan_parallel.git
[submodule "ff"]
	path = ff
	url = git@github.com:Jiangkm3/ff.git
[submodule "Spartan"]
	path = Spartan
	url = git@github.com:microsoft/Spartan.git
