[submodule "circ_blocks"]
	path = circ_blocks
	url = git@github.com:Jiangkm3/circ_blocks.git
[submodule "spartan_parallel"]
	path = spartan_parallel
	url = git@github.com:Jiangkm3/spartan_parallel.git
[submodule "ff"]
	path = ff
	url = git@github.com:Jiangkm3/ff.git
